* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

section {
	padding: 80px 20px;
}

.container {
	max-width: 800px;
	margin: 0 auto;
}

ul,
ol,
menu {	
	list-style: none;
}

.todo {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0;
}

.todo-text {
	font-weight: 700;
	font-size: 25px;

}
.todo-button {
	padding: 10px;
	text-align: center;
	background-color: cornflowerblue;
	color: white;

}